services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - ./database:/app/database
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
      - FLASK_APP=app.py
    networks:
      - app-network

  frontend:
    build:
      context: ./netflex-onu-manager
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./netflex-onu-manager:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://backend:5000
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
